# Este projeto é apenas HTML/CSS/JS puro
# Não instalar dependências npm
# Ignorar package.json

# Desabilitar instalação automática de dependências
ignore-scripts = true
package-lock = false
save = false

# Não instalar dependências opcionais
optional = false